<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Bienevido , Backend con Djando</h1>
    <h2>Objetivos principales</h2>
        <ul>
            <li>Aprender los principios de Djando</li>
            <li>Armas rutas</li>
            <li>Manejar base de datos ORM</li>
        
        </ul>

    
    
    <h2>Base de datos existentes</h2>
        <ul>
            <li><strong>Projects</strong></li>
            <li><strong>Tasks</strong> relacionado a Projects</li>
        </ul>
        
        
    <h2>Rutas:</h2>
        <ul>
            <li><a href="http://127.0.0.1:3001/">/</a></li>
            <li><a href="http://127.0.0.1:3001/projects" target="_blank">/projects</a></li>
            <li><a href="http://127.0.0.1:3001/tasks" target="_blank">/tasks</a></li>
            <li><a href="http://127.0.0.1:3001/tasks" target="_blank">/tasks/:id</a></li>
        
        </ul>    


</body>
</html>